<section class="pb-5 sidebar d-none d-md-block col-md-3 no-padding-right">
  <div class="dropdown version-switch">
    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
      aria-expanded="true">
      {{currentVersion}}
      <span class="caret"></span>
    </button>

    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
      {{#each versions as |name version|}}
        <li role="presentation">
          <a role="menuitem" tabindex="-1" href="/docs/{{version}}/{{../currentPage}}">
            {{name}}
          </a>
        </li>
      {{/each}}
    </ul>
  </div>

  {{#each navigation as |value title|}}
    <h2 id="{{value.slug}}">{{title}}</h2>
    <ul>
      {{#each value.sections as |slug title|}}
        <li {{#isEqual ../../currentPage slug}} class="font-bold border-bottom negative-padding-r-15px" {{/isEqual}}>
          <a href="/docs/{{../../version}}/{{slug}}">{{title}}</a>
        </li>
      {{/each}}
    </ul>
  {{/each}}
</section>

<div class="overlay"></div>

<nav class="pb-5 sidebar sidebar--mobile">
  <a href="/">
    <img src="/images/supercharge-text.svg" alt="Supercharge Node.js Framework" height="50" class="mb-5">
  </a>

  <div class="dropdown version-switch">
    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
      aria-expanded="true">
      {{currentVersion}}
      <span class="caret"></span>
    </button>

    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
      {{#each versions as |name version|}}
        <li role="presentation">
          <a role="menuitem" tabindex="-1" href="/docs/{{version}}/{{../currentPage}}">
            {{name}}
          </a>
        </li>
      {{/each}}
    </ul>
  </div>

  {{#each navigation as |value title|}}
    <h2 id="{{value.slug}}">{{title}}</h2>
    <ul>
      {{#each value.sections as |slug title|}}
        <li {{#isEqual ../../currentPage slug}} class="font-bold border-bottom negative-padding-r-15px" {{/isEqual}}>
          <a href="/docs/{{../../version}}/{{slug}}">{{title}}</a>
        </li>
      {{/each}}
    </ul>
  {{/each}}
</nav>

<article class="pb-5 mr-auto docs col-md-9 col-lg-8 col-xl-7">
  {{{docsContent}}}
</article>

{{!-- {{#append 'scripts'}}
  <script>
    let $toggler = document.getElementsByClassName('sidebar__toggler')
    let $sidebar = document.getElementsByClassName('sidebar--mobile')[0]
    let $overlay = document.getElementsByClassName('overlay')[0]
    let $navbar = document.getElementsByClassName('navbar-collapse')[0]
    let $body = document.getElementsByTagName("body")[0];

    Array.from($toggler).forEach(e => {
      e.addEventListener('click', openSidebar);
    });

    $overlay.addEventListener('click', closeSidebar)

    function openSidebar() {
      $body.style.overflow = 'hidden';
      $sidebar.classList.add('sidebar--mobile-active')
      $overlay.classList.add('overlay--active')
    }

    function closeSidebar() {
      $body.style.overflow = 'auto';
      $sidebar.classList.remove('sidebar--mobile-active')
      $overlay.classList.remove('overlay--active')
      $navbar.classList.remove('show')
    }
  </script>
{{/append}} --}}
